<div>
  <div>
  <h1>Save any kind of movies</h1>
  <h2>Classic</h2>
  </div>
    <div>
    <h2>My Lists</h2>
      <% @lists.each do |list| %>
        <%= link_to "#{list.name}", list_path(list) %>
      <% end %>
    </div>
  <div>
  <%= link_to "Create a new list", new_list_path %>
  </div>
</div>
